<%- include ("./partials/header") %>
    

   <div class="container custom-style">
       <h1>Welcome to the Homepage!!!</h1>

       <a class="btn btn-primary" role="button" href="./users">Feedback</a>
   </div>



<%- include ("./partials/footer") %>