<%- include("./partials/header") %>


<div class="container-fluid" style="background: #F9F3DF;">
    <div class="row custom-style">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="mb-2" style="color: brown;">Hi, my name is Scanty 😎</h1>
            <p style="font-size: 20px;">
                I built this app so you can tell me how you feel about me. Please say something nice😍
            </p>
            <form action="/reviews" method="POST">
                <div class="mb-3 name-flex">
                    <input type="text" class="form-control me-md-3" name="fname" placeholder="First Name" autocomplete="off">
                    <input type="text" class="form-control" name="lname" placeholder="Last Name" autocomplete="off">
                    <div> </div>
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="number" class="form-control" name="rating" autocomplete="off">
                </div>
                <div class="mb-3 ">
                    <textarea class="form-control" name="text" placeholder="Leave a message" style="height: 100px"></textarea>
                </div>
                <div class=" d-grid gap-2 ">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



<%- include("./partials/footer") %>