<%- include("./partials/header") %>


<div class="container-fluid" style="background: #F9F3DF;">
    <div class="row custom-style">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="mb-5" style="color: brown;">Give us your Feedback!!!</h1>
            <form action="/reviews" method="POST">
                <div class="mb-3 name-flex">
                    <input type="text" class="form-control me-md-3" name="fname" placeholder="First Name" autocomplete="off">
                    <input type="text" class="form-control" name="lname" placeholder="Last Name" autocomplete="off">
                    <div> </div>
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="number" class="form-control" name="rating" autocomplete="off">
                </div>
                <div class="mb-3 ">
                    <div class="form-floating">
                        <textarea class="form-control" name="text" placeholder="Leave a comment here" style="height: 100px">
                        </textarea>
                    </div>
                </div>
                <div class=" d-grid gap-2 ">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



<%- include("./partials/footer") %>