

<%- include ("./partials/header") %>



<div class="">
    <div class="jumbotron">
        <h3>Thank you for your reviews</h3>
        <a class="btn btn-primary text-white" role="btn" href="/">Go back home</a>
    </div>
</div>

<%- include ("./partials/footer") %>